<br />
<section class="page-section" id="portfolio">
  <div class="container">
    
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Parking lot</h2>
      <h3 class="section-subheading text-muted">
        Your safety is our priority.
      </h3>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 1-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            routerLink="/ParkingSelection"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/cartago.jpg" alt="..." />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Cartago</div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 2-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            routerLink="/ParkingSan"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/sanjose.jpg" alt="..." />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">San Jose</div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 3-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            routerLink="/ParkingHeredia"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/heredia.jpg" alt="..." />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Heredia</div>
          </div>
        </div>
      </div>
    
 
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 5-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            routerLink="/ParkingPunatrenas"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/puntarenas.jpg" alt="..." />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Puntarenas</div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 6-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            routerLink="/ParkingLimon"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/limon.jpg" alt="..." />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Limon</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 7-->
        <div class="portfolio-item">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            routerLink="/ParkingGuanacaste"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/guanacaste.jpg" alt="..." />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Guanacaste</div>
          </div>
        </div>
      </div>

   <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Portfolio item 4-->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              routerLink="/ParkingAlajuela"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="assets/alajuela.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Alajuela</div>
            </div>
          </div>
      </div>
    </div>
      
  </div>

</section>
