
<app-navbar></app-navbar>
<div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase">Vehicles</h1>

      <div class="grid text-center">
        <div class="g-col-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Ingresa datos" (keyup)="applyFilter($event)" />
          </mat-form-field>
        </div>
        <div> <button type="button" routerLink="/AddVehicle" class="btn btn-primary mr-5">Agregar nuevo Vehiculo</button></div>
  
      </div>

      
    </div>
    <BR>
  
    <div class="centrarTable">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="licensePlate">
            <th mat-header-cell *matHeaderCellDef><b> License</b></th>
            <td mat-cell *matCellDef="let element">
              {{ element.licensePlate }}</td>
          </ng-container>
  
          <!-- Descripcion Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef><b> Color</b></th>
            <td mat-cell *matCellDef="let element">
              {{ element.color }}
            </td>
          </ng-container>
  
  
          <!-- action Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef><b>Weight</b></th>
            <td mat-cell *matCellDef="let element">
              {{ element.weight }}
               
            </td>
          </ng-container>
                <!-- action Column -->
                <ng-container matColumnDef="brand">
                  <th mat-header-cell *matHeaderCellDef><b>Brand</b></th>
                  <td mat-cell *matCellDef="let element">
                   
                   {{ element.brand }}  
                  </td>
          </ng-container>
                     
               
                      <!-- action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef><b>Action</b></th>
            <td mat-cell *matCellDef="let element">
                <div class="example-button-row">
                    <button mat-fab color="primary" routerLink="/updateVehicle/{{element.licensePlate}}" aria-label="Example icon button with a delete icon" title="updateVehicle">
                        <mat-icon>edit</mat-icon>
                       </button>
                       <button mat-fab color="warn"  (click)="delete(element.idVehicle)" aria-label="Example icon button with a delete icon" title="deleteVehicle">
                        <mat-icon>delete</mat-icon>
                       </button>

                </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>