<app-navbar> </app-navbar>


<div class="container">
  <div class="text-center">

    <h1 class="section-heading text-uppercase">Reservation</h1>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Ingresa datos" (keyup)="applyFilter($event)" />
    </mat-form-field>
  </div>
  <BR>

  <div class="centrarTable">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="ParkingLot">
          <th mat-header-cell *matHeaderCellDef><b> Name</b></th>
          <td mat-cell *matCellDef="let element">
            {{ element.parkingLot.name }}</td>
        </ng-container>

        <!-- Descripcion Column -->
        <ng-container matColumnDef="User">
          <th mat-header-cell *matHeaderCellDef><b>User</b></th>
          <td mat-cell *matCellDef="let element">
            {{ element.user.name }}
          </td>
        </ng-container>


        <!-- action Column -->
        <ng-container matColumnDef="RateType">
          <th mat-header-cell *matHeaderCellDef><b>Amount</b></th>
          <td mat-cell *matCellDef="let element">
            {{ element.rateType.amount }}
             
          </td>
        </ng-container>
              <!-- action Column -->
              <ng-container matColumnDef="Spot">
                <th mat-header-cell *matHeaderCellDef><b>Spot number</b></th>
                <td mat-cell *matCellDef="let element">
                 
                 {{ element.spot.number }}  
                </td>
        </ng-container>
                    <!-- action Column -->
        <ng-container matColumnDef="StartDay">
          <th mat-header-cell *matHeaderCellDef><b>Start Day</b></th>
          <td mat-cell *matCellDef="let element">
           {{element.starDay}}
             
          </td>
        </ng-container>

                  <!-- action Column -->
                  <ng-container matColumnDef="EndDay">
                    <th mat-header-cell *matHeaderCellDef><b>End day</b></th>
                    <td mat-cell *matCellDef="let element">
                     {{element.endDay}}
                       
                    </td>
                  </ng-container>
             
                    <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef><b>Reservation</b></th>
          <td mat-cell *matCellDef="let element">

        <button mat-fab color="warn" (click)="delete(element.idTicket)"
            aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
        </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>